<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>北京话生成器</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <form class="container" method="POST">
        {% csrf_token %}
        <h1>北京话生成器</h1>

        <div class="form-group">
            <label>请输入要转化的文本</label>
            <div class="input-group">
                <input type="text" class="form-control" name="s" value="{{ s }}">
                <input type="submit" value="转化">
            </div>
            {{ x }}
        </div>
    </form>
</body>
</html>