<a href='http://beijinghua.ksyer.com'>北京话生成器</a><br />
<a href='http://shsj.ksyer.com'>社会实践</a><br />
<a href='http://pdfreader.ksyer.com'>文件存储</a><br />
<a href='http://eas.ksyer.com'>软件工程</a><br />
