<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>复读机</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<style type="text/css">
    .wrapper {position: relative;}
    #input {position: absolute;top: 0;left: 0;opacity: 0;z-index: -10;}
 </style>

<body>
    <form class="container" method="POST">
        {% csrf_token %}
        <h1>复读机</h1>

        <div class="form-group">
            <label>请输入使用的表情</label>
                <br />
                <input type="radio" checked="checked" name="emoji" value="wechat" />微信 
                <br />
                <input type="radio" name="emoji" value="weibo_se" />微博 [色] 
                <br />
                <input type="radio" name="emoji" value="weibo_tianping" />微博 [舔屏] 
                <br />
                <input type="radio" name="emoji" value="emoji" />emoji
                <br /><br />

            <label>请输入要舔的对象</label>
            <div class="input-group">
                <input type="text" class="form-control" name="s" value="{{ s }}">
                <input type="submit" value="转化">
            </div>
            <p id="text">{{ x }}</p>
            <textarea id="input">这是幕后黑手</textarea>
            <button onclick="copyText()">copy</button>
            <br />
        </div>
    </form>
</body>
<script type="text/javascript">
    function copyText() {
      var text = document.getElementById("text").innerText;
      var input = document.getElementById("input");
      input.value = text; // 修改文本框的内容
      input.select(); // 选中文本
      document.execCommand("copy"); // 执行浏览器复制命令
      alert("复制成功");
    }
  </script>
</html>