{% for i in content %}
<a href="file_downloader?filename={{i}}">{{i}}</a>
<br />
{% endfor %}

<br /><br />
<!--
<form action="uploadFile" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="myfile" />
  <br />
  <input type="submit" name="upload" id="upload" value="upload" />
</form>
-->
